.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div-wrapper {
  background-color: #ffffff;
  width: 1920px;
  height: 1000px;
  position: relative;
}

.screen .text-wrapper {
  position: absolute;
  top: 450px;
  left: 665px;
  font-family: "Indie Flower", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 81px;
  letter-spacing: 0;
  line-height: normal;
}
