.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000001a;
  width: 1920px;
  height: 3258px;
  position: relative;
}

.screen .element {
  width: 1926px;
  height: 970px;
  left: 0;
  position: absolute;
  top: 0;
}

.screen .overlap {
  position: relative;
  width: 1920px;
  height: 978px;
  background-image: url(./img/imgbackground-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .iconlogowhite {
  position: absolute;
  width: 160px;
  height: 35px;
  top: 50px;
  left: 120px;
}

.screen .text-wrapper {
  position: absolute;
  width: 104px;
  height: 78px;
  top: 619px;
  left: 582px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #c8cad1;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
}

.screen .p {
  position: absolute;
  width: 599px;
  height: 90px;
  top: 460px;
  left: 111px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 45px;
}

.screen .view {
  position: absolute;
  width: 287px;
  height: 18px;
  top: 58px;
  left: 819px;
}

.screen .text-wrapper-2 {
  position: absolute;
  height: 18px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-3 {
  position: absolute;
  height: 18px;
  top: 0;
  left: 108px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-4 {
  position: absolute;
  height: 18px;
  top: 0;
  left: 206px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-5 {
  position: absolute;
  width: 678px;
  height: 190px;
  top: 220px;
  left: 111px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .overlap-group-wrapper {
  position: absolute;
  width: 309px;
  height: 75px;
  top: 620px;
  left: 120px;
}

.screen .overlap-group {
  position: relative;
  width: 307px;
  height: 75px;
  background-color: #f5cb35;
  border-radius: 38px;
}

.screen .text-wrapper-6 {
  position: absolute;
  height: 24px;
  top: 25px;
  left: 65px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #442800;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .iconplay {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 620px;
  left: 487px;
}

.screen .view-2 {
  position: absolute;
  width: 211px;
  height: 55px;
  top: 798px;
  left: 120px;
}

.screen .text-wrapper-7 {
  position: absolute;
  width: 209px;
  height: 26px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.14px;
  line-height: normal;
}

.screen .icon-FB {
  position: absolute;
  width: 10px;
  height: 18px;
  top: 37px;
  left: 65px;
}

.screen .icon-twitter {
  position: absolute;
  width: 19px;
  height: 15px;
  top: 39px;
  left: 121px;
}

.screen .icon-VK {
  position: absolute;
  width: 20px;
  height: 12px;
  top: 40px;
  left: 186px;
}

.screen .icon-you-tube {
  position: absolute;
  width: 19px;
  height: 14px;
  top: 39px;
  left: 0;
}

.screen .view-3 {
  position: absolute;
  width: 30px;
  height: 26px;
  top: 55px;
  left: 1770px;
}

.screen .rectangle {
  top: 0;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background-color: #d9d9d9;
}

.screen .rectangle-2 {
  top: 12px;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background-color: #d9d9d9;
}

.screen .rectangle-3 {
  top: 24px;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background-color: #d9d9d9;
}

.screen .overlap-wrapper {
  position: absolute;
  width: 289px;
  height: 200px;
  top: 700px;
  left: 885px;
}

.screen .overlap-2 {
  position: relative;
  width: 285px;
  height: 200px;
  background-image: url(./img/imgisland-1-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-8 {
  position: absolute;
  width: 119px;
  height: 54px;
  top: 121px;
  left: 25px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px;
}

.screen .text-wrapper-9 {
  width: 30px;
  position: absolute;
  height: 25px;
  top: 25px;
  left: 25px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.screen .overlap-group-2 {
  position: absolute;
  width: 31px;
  height: 15px;
  top: 155px;
  left: 218px;
  background-image: url(./img/arrow-1.svg);
  background-size: 100% 100%;
}

.screen .arrow {
  width: 31px;
  top: 0;
  left: 0;
  position: absolute;
  height: 15px;
}

.screen .div-wrapper {
  position: absolute;
  width: 289px;
  height: 200px;
  top: 700px;
  left: 1200px;
}

.screen .overlap-3 {
  position: relative;
  width: 285px;
  height: 200px;
  background-image: url(./img/imgisland-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-10 {
  position: absolute;
  height: 25px;
  top: 25px;
  left: 25px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.screen .img {
  width: 31px;
  top: 155px;
  left: 218px;
  position: absolute;
  height: 15px;
}

.screen .element-2 {
  position: absolute;
  width: 289px;
  height: 200px;
  top: 700px;
  left: 1515px;
}

.screen .overlap-4 {
  position: relative;
  width: 285px;
  height: 200px;
  background-image: url(./img/imgisland-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-11 {
  position: absolute;
  width: 141px;
  height: 54px;
  top: 121px;
  left: 25px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px;
}

.screen .element-3 {
  position: absolute;
  width: 1487px;
  height: 475px;
  top: 1130px;
  left: 262px;
}

.screen .group {
  width: 561px;
  top: 45px;
  left: 930px;
  position: absolute;
  height: 371px;
}

.screen .text-wrapper-12 {
  position: absolute;
  width: 408px;
  top: 142px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 33px;
}

.screen .text-wrapper-13 {
  position: absolute;
  width: 557px;
  height: 112px;
  top: 0;
  left: 0;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 56px;
}

.screen .view-4 {
  position: absolute;
  width: 272px;
  height: 75px;
  top: 296px;
  left: 0;
}

.screen .overlap-group-3 {
  position: relative;
  width: 270px;
  height: 75px;
  border-radius: 38px;
  border: 2px solid;
  border-color: #f5cb35;
}

.screen .text-wrapper-14 {
  position: absolute;
  width: 148px;
  height: 24px;
  top: 24px;
  left: 59px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #f5cb35;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .element-4 {
  width: 836px;
  height: 475px;
  left: 0;
  position: absolute;
  top: 0;
}

.screen .overlap-5 {
  background-image: url(./img/imghawaii-1-1.png);
  position: relative;
  width: 830px;
  height: 475px;
  background-size: cover;
  background-position: 50% 50%;
}

.screen .arrow-2 {
  width: 41px;
  top: 413px;
  left: 730px;
  position: absolute;
  height: 15px;
}

.screen .text-wrapper-15 {
  position: absolute;
  width: 204px;
  top: 374px;
  left: 60px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 29px;
}

.screen .text-wrapper-16 {
  position: absolute;
  top: 99px;
  left: 54px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-17 {
  position: absolute;
  top: 65px;
  left: 54px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0;
  line-height: 29px;
  white-space: nowrap;
}

.screen .group-wrapper {
  position: absolute;
  width: 1920px;
  height: 518px;
  top: 1765px;
  left: 0;
  background-image: url(./img/imgform-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .group-2 {
  position: relative;
  width: 714px;
  height: 319px;
  top: 117px;
  left: 828px;
}

.screen .text-wrapper-18 {
  position: absolute;
  width: 204px;
  top: 180px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 33px;
}

.screen .div-2 {
  position: absolute;
  width: 217px;
  top: 283px;
  left: 458px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.screen .span {
  color: #000000;
}

.screen .text-wrapper-19 {
  color: #917921;
}

.screen .text-wrapper-20 {
  position: absolute;
  width: 350px;
  height: 150px;
  top: 0;
  left: 0;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 56px;
}

.screen .view-5 {
  position: absolute;
  width: 285px;
  height: 75px;
  top: 198px;
  left: 425px;
}

.screen .overlap-group-4 {
  position: relative;
  width: 283px;
  height: 75px;
  background-color: #f5cb35;
  border-radius: 38px;
}

.screen .text-wrapper-21 {
  position: absolute;
  height: 24px;
  top: 26px;
  left: 49px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #442800;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .view-6 {
  position: absolute;
  width: 285px;
  height: 75px;
  top: 98px;
  left: 425px;
}

.screen .overlap-6 {
  position: relative;
  width: 283px;
  height: 75px;
  border-radius: 38px;
  border: 2px solid;
  border-color: #bed1de;
}

.screen .text-wrapper-22 {
  position: absolute;
  height: 24px;
  top: 22px;
  left: 33px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #a6bdcd;
  font-size: 20px;
  letter-spacing: 2.6px;
  line-height: normal;
  white-space: nowrap;
}

.screen .view-7 {
  position: absolute;
  width: 285px;
  height: 75px;
  top: 0;
  left: 425px;
}

.screen .text-wrapper-23 {
  position: absolute;
  height: 24px;
  top: 24px;
  left: 33px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #a6bdcd;
  font-size: 20px;
  letter-spacing: 2.6px;
  line-height: normal;
  white-space: nowrap;
}

.screen .element-5 {
  position: absolute;
  width: 1396px;
  height: 475px;
  top: 2443px;
  left: 262px;
}

.screen .group-3 {
  width: 470px;
  top: 42px;
  left: 0;
  position: absolute;
  height: 371px;
}

.screen .text-wrapper-24 {
  position: absolute;
  width: 466px;
  height: 110px;
  top: 0;
  left: 0;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 56px;
}

.screen .text-wrapper-25 {
  position: absolute;
  width: 189px;
  height: 24px;
  top: 24px;
  left: 42px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #f5cb35;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .element-6 {
  width: 836px;
  height: 475px;
  left: 566px;
  position: absolute;
  top: 0;
}

.screen .overlap-7 {
  background-image: url(./img/imghawaii-1.png);
  position: relative;
  width: 830px;
  height: 475px;
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-26 {
  position: absolute;
  width: 333px;
  top: 374px;
  left: 60px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 29px;
}

.screen .element-7 {
  position: absolute;
  width: 1924px;
  height: 180px;
  top: 3078px;
  left: 0;
}

.screen .overlap-8 {
  position: relative;
  width: 1920px;
  height: 180px;
  background-color: #eaf2f8a3;
}

.screen .image {
  position: absolute;
  width: 158px;
  height: 18px;
  top: 81px;
  left: 1642px;
}

.screen .iconlogodark {
  position: absolute;
  width: 160px;
  height: 35px;
  top: 73px;
  left: 120px;
}

.screen .text-wrapper-27 {
  position: absolute;
  width: 182px;
  top: 70px;
  left: 403px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #a1b8cb;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.screen .text-wrapper-28 {
  position: absolute;
  width: 201px;
  top: 70px;
  left: 687px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #a1b8cb;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
