.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 2000px;
  position: relative;
}

.screen .overlap {
  position: absolute;
  width: 1920px;
  height: 756px;
  top: 0;
  left: 0;
  background-image: url(./img/gors-1.gif);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper {
  height: 93px;
  top: 301px;
  left: 162px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 70px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .iconlogodark {
  position: absolute;
  width: 375px;
  height: 82px;
  top: 313px;
  left: 647px;
}

.screen .p {
  width: 599px;
  height: 90px;
  top: 424px;
  left: 162px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  line-height: 45px;
  position: absolute;
  letter-spacing: 0;
}

.screen .view {
  position: absolute;
  width: 274px;
  height: 18px;
  top: 41px;
  left: 826px;
}

.screen .text-wrapper-2 {
  height: 18px;
  top: 0;
  left: 98px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-3 {
  height: 18px;
  top: 0;
  left: 206px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-4 {
  height: 18px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .element {
  position: absolute;
  width: 1924px;
  height: 180px;
  top: 1820px;
  left: 0;
}

.screen .overlap-group {
  position: relative;
  width: 1920px;
  height: 180px;
  background-color: #eaf2f8a3;
}

.screen .image {
  position: absolute;
  width: 158px;
  height: 18px;
  top: 81px;
  left: 1642px;
}

.screen .img {
  position: absolute;
  width: 160px;
  height: 35px;
  top: 73px;
  left: 120px;
}

.screen .text-wrapper-5 {
  width: 182px;
  top: 70px;
  left: 403px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #a1b8cb;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-6 {
  width: 201px;
  top: 70px;
  left: 687px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #a1b8cb;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  letter-spacing: 0;
}

.screen .group {
  height: 63px;
  top: 826px;
  position: absolute;
  width: 1276px;
  left: 323px;
}

.screen .text-wrapper-7 {
  width: 686px;
  height: 57px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #d02aebf7;
  font-size: 47px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .frame {
  top: 0;
  position: absolute;
  width: 63px;
  height: 63px;
  left: 1211px;
}

.screen .group-2 {
  height: 63px;
  top: 959px;
  position: absolute;
  width: 1276px;
  left: 323px;
}

.screen .text-wrapper-8 {
  width: 851px;
  height: 57px;
  top: 3px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #d02aebf7;
  font-size: 47px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .group-3 {
  height: 114px;
  top: 1095px;
  position: absolute;
  width: 1276px;
  left: 323px;
}

.screen .text-wrapper-9 {
  width: 1112px;
  height: 114px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #d02aebf7;
  font-size: 47px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .frame-2 {
  top: 26px;
  position: absolute;
  width: 63px;
  height: 63px;
  left: 1211px;
}

.screen .group-4 {
  height: 114px;
  top: 1282px;
  position: absolute;
  width: 1276px;
  left: 323px;
}
